body {
  color: #2f2727;
  font-family: GameFont, Arial;
  width: 30%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex-grow: 1;
}
footer {
  color: #888888;
  border-top: 2px solid #eeeeee;
  font-size: 2em;
}
footer p {
  margin: 0;
  padding: 0 5px;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
  padding: 0 5px;
}
header h1 {
  font-size: 64px;
  margin: 0 0 16px;
}
header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
.portrait {
  padding: 0;
  margin: 0;
  width: 250px;
  border: 3px dotted #2f2727;
}
input {
  border: 1px solid #cccccc;
  padding: 8px;
}
button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}
